.collections-overview {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .collections-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .collections-overview {
    gap: unset;
  }
}

@media screen and (min-width: 1920px) {
  .collections-overview {
    gap: 10%;
  }
}
