.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 10px;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    font-weight: bold;
    font-size: 0.85rem;
    bottom: 35%;
  }
}

@media only screen and (min-width: 2560px) {
  .cart-icon {
    height: 60px;
    width: 60px;

    .shopping-icon {
      width: 35px;
      height: 35px;
    }

    .item-count {
      bottom: 30%;
    }
  }
}
