.checkout-page {
  width: 100%;
  height: 100vh;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  .checkout_content {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .total {
      width: 100%;
      font-weight: bold;
      margin: 10% 0;
      text-align: end;
    }

    .payment {
      display: flex;
      width: 100%;
      height: 15%;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      color: red;

      .payment-button {
        button {
          min-width: 165px !important;
          width: auto !important;
          height: 50px !important;
          letter-spacing: 0.5px !important;
          line-height: 50px !important;
          padding: 0 35px 0 35px !important;
          background: black !important;
          color: white !important;
          text-transform: uppercase !important;
          font-family: "Open Sans Condensed" !important;
          font-weight: bolder !important;
          border: none !important;
          cursor: pointer !important;
          display: flex !important;
          justify-content: center !important;

          &:hover {
            background-color: white !important;
            color: black !important;
            border: 1px solid black !important;
          }

          span {
            background-image: unset !important;
            font-family: unset !important;
            font-size: unset !important;
            position: unset !important;
            padding: unset !important;
            display: unset !important;
            height: unset !important;
            line-height: unset !important;
            color: unset !important;
            font-weight: unset !important;
            box-shadow: unset !important;
            text-shadow: unset !important;
            border-radius: unset !important;

            &:hover {
              background-color: white !important;
              color: black !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .checkout-page {
    font-size: 1.1rem;

    .checkout_content {
      width: 85%;

      .total {
        margin: 5% 0;
      }

      .payment {
        justify-content: space-between;
        padding-bottom: 5%;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .checkout-page {
    font-size: 1.2rem;
  }
}
