.checkout-item {
  width: 100%;
  display: flex;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    border-top: 1px solid darkgrey;
  }

  .image-container {
    width: 20%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  .product_about {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .product_name {
      width: 90%;
      height: 50%;
      display: flex;
      align-items: center;
      font-weight: bold;
    }

    .product_options {
      height: 50%;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .quantity {
        display: flex;

        .arrow {
          cursor: pointer;
        }

        .value {
          margin: 0 10px;
          display: flex;
          align-items: flex-end;
        }
      }

      .remove-button {
        width: 5%;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .checkout-item {
    .product_about {
      flex-direction: row;
      align-items: center;

      .product_name {
        width: 50%;
      }

      .product_options {
        width: 50%;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .checkout-item {
    .image-container {
      width: 15%;
    }
  }
}

@media only screen and (min-width: 1920px) {
  .checkout-item {
    .image-container {
      width: 12%;
    }
  }
}
