.checkout-item {
  width: 100%;
  display: flex;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 10.5vw;
    height: 22vh;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .quantity {
    display: flex;

    .arrow {
      cursor: pointer;
    }

    .value {
      margin: 0 10px;
      display: flex;
      align-items: flex-end;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 2560px) {
  .checkout-item {
    .name,
    .quantity,
    .price {
      font-size: 1.4em;
    }
  }
}
