.sign_in_and_sign_up {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 1440px) {
  .sign_in_and_sign_up {
    height: 100%;
  }
}
